*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Servidor
Servers/

# Arquivos de configuração
.metadata/
.classpath
.project
.settings/
persistence.xml
MANIFEST.MF

RemoteSystemsTempFiles/

# Configuração do Banco de Dados
persistence.xml
*.sql

# Configurações do JSF
faces-config.xml
faces-config.xml.jsfdia

# Imagens
*.jpg
