<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>requisicao-fotocopias</display-name>
 <filter>
  <display-name>JPAFilter</display-name>
  <filter-name>JPAFilter</filter-name>
  <filter-class>br.com.lam.filters.JPAFilter</filter-class>
 </filter>
 <filter>
  <display-name>ControleDeAcessoAutorizadorFilter</display-name>
  <filter-name>ControleDeAcessoAutorizadorFilter</filter-name>
  <filter-class>br.com.lam.filters.ControleDeAcessoAutorizadorFilter</filter-class>
 </filter>
 <filter>
  <display-name>ControleDeAcessoAtendenteFilter</display-name>
  <filter-name>ControleDeAcessoAtendenteFilter</filter-name>
  <filter-class>br.com.lam.filters.ControleDeAcessoAtendenteFilter</filter-class>
 </filter>
 <filter>
  <display-name>ControleDeAcessoSolicitanteFilter</display-name>
  <filter-name>ControleDeAcessoSolicitanteFilter</filter-name>
  <filter-class>br.com.lam.filters.ControleDeAcessoSolicitanteFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>JPAFilter</filter-name>
  <servlet-name>Faces Servlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>ControleDeAcessoAutorizadorFilter</filter-name>
  <url-pattern>/autorizador.xhtml</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>ControleDeAcessoAtendenteFilter</filter-name>
  <url-pattern>/atendente.xhtml</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>ControleDeAcessoSolicitanteFilter</filter-name>
  <url-pattern>/solicitante.xhtml</url-pattern>
 </filter-mapping>
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.xhtml</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.xhtml</welcome-file>
 </welcome-file-list>
</web-app>
